--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu; sys_platform == "linux"
torchvision==0.17.2+cpu; sys_platform == "linux"
torch>=2.0.0; sys_platform != "linux"
torchvision>=0.15.0; sys_platform != "linux"
Pillow>=9.5.0
numpy<2